body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #23252C;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App{
  font-family: 'Poppins', sans-serif;
  background-color: #171a25;
  width: 29vw;
  margin: auto;
  color: #ffffff;
  padding-top: 8px;
  margin-top: 12px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
